*~
\#*\#
*.elc
*_flymake.*
*emacs/.cask/
*emacs/.cache/
*emacs/.*
*emacs/dist/
*emacs/elpa/
*emacs/eln-cache/
*emacs/transient/
*emacs/auto-save-list/
target/
*.desktop
mpd/.config/mpd/pid
mpd/.config/mpd/database

nvim/.config/nvim/lazy-lock.json

