@import '/home/fisher/.config/theme/colors.scss'

* {
  all: unset;
}

.bar {
  background: rgba(0, 0, 0, 0);
}

@keyframes fadeIn {
  25% {
      font-size: 16px;
  }
  40% {
      font-size: 14px;
  }
  60%{
      font-size: 12px;
  } 
  75% {
      font-size: 10px;
  }
  100% {
      font-size: 8px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    font-size: 17px;
  }
  100% {
    opacity: 0;
    font-size: 0px;
  }
}

.ewwbar-workspaces {
  border-radius: 8px;
    padding: 0px 8px;
  background-color: rgba(1, 1, 1, 0.8);
}

.ewwbar-workspace {
    font-size: 12px;
    font-weight: lighter;
  border-radius: 20px;
  padding: 0px 6px;
  margin: 0px 0px;
  transition: font-size 0.2s;
  animation: fade 0.4s;
}
.active-workspace {
    font-size: 8px;
    font-weight: bold;
  animation: fadeIn 1s;
}

.ewwbar-workspace:hover {
    font-weight: bold;
    font-size: 10px;
}

.ewwbar-mode {
  font-family: Iosevka;
  font-style: italic;
  font-weight: bold;
  background-color: rgba(1, 1, 1, 0.8);
  margin: 0px 0px 10px 16px;
  padding: 6px 16px;
  border-radius: 8px;
}

.ewwbar-tw {
  border-radius: 8px;
  padding: 0px 10px;
  margin: 0px 10px 0px 0px;
  background-color: rgba(1, 1, 1, 0.8);
}

.ewwbar-symbol {
  font-weight: normal;
  font-size: 16px;
  font-family: "Symbols Nerd Font Mono";
  color: $foreground;
}

.ewwbar-text {
  font-size: 14px;
  font-family: Iosevka;
  font-style: italic;
  border-width: 2px 0 2px 0;
  color: $foreground;
}

.widget {
  font-size: 36px;
  padding: 24px;
  margin: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.window {
    background: rgba(0, 0, 0, 0.6);
}
