@import "/home/fisher/.config/theme/colors.scss";

$bg: #282828;
$fg: #ebdbb2;

* {
  all: unset;
}

.bar {
  background: rgba(0, 0, 0, 0);
  }

@keyframes fadeIn {
  0% {
    font-size: 14px;
  }
  100% {
    font-size: 12px;
  }
}

.ewwbar-workspaces {
  border-radius: 8px;
  padding: 0px 6px;
  background-color: $bg;
  //background-color: rgba(1, 1, 1, 0.4);
}

.borders {
//  border: 3px solid rgba(255, 255, 255, 1);
   border: 3px solid $fg;
}

.popup-box {
  background: $bg;
  border: 3px solid $fg;
  border-radius: 8px;
}

.popup-box scale trough highlight {
  all: unset;
  background-color: $fg;
  color: #000000;
  border-radius: 10px;
}

.popup-box scale trough {
  all: unset;
  background-color: $bg;
  border-radius: 2px;
  min-height: 150px;
  min-width: 6px;
  margin: 20px 15px 10px 15px;
}

.popup-label {
  font-size: 24px;
  color: $fg;
  min-width: 26px;
  margin: 0px 15px 10px 15px;
}

.ewwbar-workspace {
color: $fg;
  font-size: 18px;
  padding: 0px 0px;
  margin: 0px 6px;
  font-weight: bold;
  transition: font-size 0.25s;
}
.active-workspace {
  color: $fg;
  font-size: 18px;
  font-weight: bold;
}

.active-workspace:hover {
  color: white;
}

.ewwbar-mode {
  font-family: Iosevka;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  background-color: $bg;
  color: $fg;
  margin: 0px 5px;
  padding: 0px 14px;
  border-radius: 8px;
}

.ewwbar-tw {
  border-radius: 8px;
  padding: 10px;
  margin: 0px 5px;
  background-color: rgba(1, 1, 1, 0.4);
}

.ewwbar-symbol {
  font-weight: normal;
  font-size: 16px;
  font-family: "Symbols Nerd Font Mono";
  color: $fg;
}

.ewwbar-text {
  font-size: 13px;
  font-family: "Iosevka";
  font-weight: bold;
  padding: 0px 0px 0px 6px;
  color: $fg;
}

.music-box {
  background-color: rgba(1, 1, 1, 0.4);
}

.music-data-box {
  padding: 30px 0px 30px 0px;
}

.music-text {
  font-family: "Iosevka";
  font-weight: bold;
}

.music-text-title {
  font-size: 18px;
}

.music-text-artist {
  font-size: 16px;
}

.music-button-box {
  padding: 0px 40px;
}

.music-button {
  font-size: 24px;
}

.ewwbar-layout-right {
  margin-right: 12px;
  border-radius: 8px;
  background-color: $bg;
}

.ewwbar-layout {
  padding: 0px 12px;
}

.widget {
  font-size: 40px;
  padding: 20px 30px;
  margin: 20px;
  background: $bg;
  border-radius: 8px;
}
.window {
  background: rgba(0, 0, 0, 0.6);
}
