* {
  all: unset;
}

.bar {
  background: rgba(0, 0, 0, 0);
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    padding: 0px 6px;
  }
  25% {
    opacity: 0;
  }
  50% {
    padding: 0px 08px;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    padding: 0px 6px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    font-size: 17px;
  }
  100% {
    opacity: 0;
    font-size: 0px;
  }
}

.ewwbar-workspace {
    font-size: 12px;
    font-weight: lighter;
  border-radius: 20px 20px 20px 20px;
  padding: 0px 6px;
  margin: 0px 0px;
  transition: font-size 0.2s;
  animation: fade 0.4s;
}
.active-workspace {
    border: 2px solid white;
    font-size: 6px;
    font-weight: bold;
  animation: fadeIn 0.6s;
}

.ewwbar-workspace:hover {
  font-weight: bold;
}

.ewwbar-mode {
  font-family: Iosevka;
  font-style: italic;
  background-color: rgba(1, 1, 1, 0.1);
  margin: 0px 0px 10px 16px;
  padding: 2px 8px;
  border-radius: 6px;
}

.ewwbar-symbol {
  font-weight: normal;
  font-size: 16px;
  font-family: "Symbols Nerd Font Mono";
  margin: 0px 8px 0px 0px;
  animation: fadeIn 0.4s forwards;
}

.ewwbar-text {
  font-size: 14px;
  font-family: Iosevka;
  font-style: italic;
  padding: 2px 0 0 0;
  border-width: 2px 0 2px 0;
  margin: 0 8px 0 0;
}

.widget {
  font-size: 36px;
  padding: 24px;
  margin: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.window {
    background: rgba(0, 0, 0, 0.6);
}
