
* {
  all: unset;
  font-family: "Playfair";
}

$bg: rgba(40, 40, 40, 1);
$bg-niri: #171717;
$fg: #ebdbb2;

.bar {
  background: transparent;
}

.ewwbar-workspace {
  background: transparent;
  border: none;
  margin: 0 5px;
  color: $fg;
}

.white-transluscent {
  background: rgba(255, 255, 255, 0.15);
}

.py-sm {
  padding: 2px 0px;
}

.py-md {
  padding: 5px 0;
}

.py-lg {
  padding: 8px 0;
}

.p-sm {
  padding: 2px;
}

.p-md {
  padding: 5px;
}

.p-lg {
  padding: 8px;
}

.px-sm {
  padding: 0 2px;
}

.px-md {
  padding: 0 5px;
}

.px-lg {
  padding: 0 8px;
}

.my-sm {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-md {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-lg {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt-sm {
  margin-top: 2px;
}

.mt-md {
  margin-top: 5px;
}

.mt-lg {
  margin-top: 8px;
}


.mb-sm {
  margin-bottom: 2px;
}

.mb-md {
  margin-bottom: 5px;
}

.mb-lg {
  margin-bottom: 8px;
}


.mx-sm {
  margin-left: 2px;
  margin-right: 2px;
}

.mx-md {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-lg {
  margin-left: 8px;
  margin-right: 8px;
}

.mr-sm {
  margin-right: 2px;
}

.mr-md {
  margin-right: 5px;
}

.mr-lg {
  margin-right: 8px;
}

.mr-xlg {
  margin-right: 16px;
}

.mr-xxlg {
 margin-right: 36px;
}

.mr-xxxlg {
  margin-right: 50px;
}


.ml-sm {
  margin-left: 2px;
}

.ml-md {
  margin-left: 5px;
}

.ml-lg {
  margin-left: 8px;
}


.bg {
  background: $bg;
}

.fg {
  color: $fg;
}

.bg-transparent {
  background: $bg-niri;
}

.border {
  border: 1px solid $fg;
}

.round-sm-pc {
  border-radius: 10%;
}

.round-md-pc {
  border-radius: 25%;
}

.round-lg-pc {
  border-radius: 50%;
}

.round-sm-px {
  border-radius: 4px;
}

.round-md-px {
  border-radius: 10px;
}

.round-lg-px {
  border-radius: 18px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;

}

.font-24 {
  font-size: 24px;

}

.font-84 {
  font-size: 84px;
}

.green {
  color: #79740e;
}

.grey {
  color: #7c6f64;
}


.bold {
  font-weight: bold;
}

tooltip {
 padding: 4px;
 color: $fg;
 background: $bg;
}

.image > * {
  border-radius: 4px;
}






