input {
  focus-follows-mouse
    keyboard {
        xkb {
        }
    }

    touchpad {
        tap
        dwt
        accel-profile "adaptive"
        accel-speed 0.4
        natural-scroll
    }
}

output "eDP-1" {
    mode "1920x1080@60.019"
    scale 1  
    variable-refresh-rate
    //background-color "#1e1d2f"
    background-color "#171717"
}

prefer-no-csd

environment {
    GBM_BACKEND "nvidia-drm"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    SDL_VIDEODRIVER "wayland"
    XDG_SESSION_TYPE "wayland"
    CLUTTER_BACKEND "wayland"
    XDG_CURRENT_DESKTOP "niri"
    WLR_DRM_DEVICES "/dev/dri/card1:/dev/dri/card0"
    MOZ_ENABLE_WAYLAND "1";
    WLR_BACKEND "vulkan";
    WLR_NO_HARDWARE_CURSORS "1";
    DISPLAY ":0";
    BROWSER "zen-browser";
    EDITOR "nvim";
    LAUNCHER "eww open launcher";
    TERMINAL "ghostty";
    NIRI_LOADED "true";
}

layout {
    gaps 12
//    gaps 0
    always-center-single-column
preset-column-widths {
        proportion 0.1
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
        proportion 0.9
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }
    border {
        width 2
        active-color "ebdbb2"
        inactive-color "ffefa7"
    }
    struts {
        left 4
        right 4
        top 0
        bottom 4
    }
}


window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
    }

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    screenshot-ui-open {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-open {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

}

spawn-at-startup "eww" "daemon"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "gammastep" "-O" "5000"
spawn-at-startup "eww" "open" "bar"
spawn-at-startup "eww" "open" "topbar"

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Return { spawn "ghostty"; }
    Mod+r { spawn "wofi" "--show" "drun"; }
    Mod+b { spawn "zen-browser"; }
    Mod+c { spawn "chromium"; }
    Mod+m { spawn "fractal"; }
    Mod+e { spawn "nautilus"; }
    Mod+d { spawn "discord"; }
    Mod+g { spawn "koreader"; }
    Mod+Shift+b { spawn "killall" "-SIGUSR1" "waybar"; }
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "4%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "4%-"; }
    XF86AudioMute {spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle";}
    XF86MonBrightnessUp { spawn "brightnessctl" "set" "50+";}
    Shift+XF86MonBrightnessUp { spawn "brightnessctl" "set" "750+";}
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "50-";}
    Shift+XF86MonBrightnessDown { spawn "brightnessctl" "set" "750-";}
    Mod+Q { close-window; }
    Mod+Shift+e { switch-preset-column-width; }
    Mod+Left  { focus-column-left; }
    Mod+Shift+Tab  { focus-column-left; }
    Mod+Down  { focus-workspace-down; }
    Mod+Up    { focus-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+Tab { focus-column-right; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+TouchpadScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+TouchpadScrollUp       cooldown-ms=150 { focus-workspace-up; }
    Mod+TouchpadScrollRight      { focus-column-right; }
    Mod+TouchpadScrollLeft       { focus-column-left; }
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }
    Mod+Shift+Down { move-column-to-workspace-down; }
    Mod+Shift+Up   { move-column-to-workspace-up; }
    Mod+Shift+TouchpadScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+TouchpadScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+Shift+TouchpadScrollRight { move-column-right; }
    Mod+Shift+TouchpadScrollLeft  { move-column-left; }
    Mod+Ctrl+Shift+TouchpadScrollDown { move-column-right; }
    Mod+Ctrl+Shift+TouchpadScrollUp   { move-column-left; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Mod+Shift+q { quit; }
    Mod+L { power-off-monitors; }
}

cursor {
    xcursor-theme "Posy_Cursor_Mono_Black"
    xcursor-size 24
}
