layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
format_left   "{mode}#[fg=black]{tabs}"
                format_center ""
                format_right  "{datetime}#[fg=cyan]↖ "
                format_space  "#[fg=yellow] "
                hide_frame_for_single_pane "false"
                mode_normal  "#[fg=yellow]  "
                mode_locked  "#[fg=red]  "
                mode_tmux    "#[bg=cyan]"
                tab_normal              "#[fg=#6C7086]{name}"
                tab_normal_fullscreen   "#[fg=#6C7086]{name}"
                tab_normal_sync         "#[fg=#6C7086]{name}"

                tab_active              "#[fg=blue,bold]{name}#[fg=yellow,bold]{floating_indicator}"
                tab_active_fullscreen   "#[fg=yellow,bold]{name}#[fg=yellow,bold]{fullscreen_indicator}"
                tab_active_sync         "#[fg=green,bold]{name}#[fg=yellow,bold]{sync_indicator}"
                tab_separator           "#[fg=cyan,bold] ⋮ "
                tab_sync_indicator       " "
                tab_fullscreen_indicator " "
                tab_floating_indicator   ""
                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y"
                datetime_timezone "Asia/Kolkata"
            }
        }
    }
    tab name="HOME" cwd="~" focus=true borderless=true
    tab name="CONFIG" cwd="~/.config" focus=false borderless=true
    tab name="PROJECT" cwd="~/dev" focus=false borderless=true
}
