configuration {
	modes: "window,drun,run,ssh";
	font: "Iosevka 12";
    timeout {
      action: "kb-cancel";
      delay:  0;
      }
    filebrowser {
    directories-first: true;
    sorting-method:    "name";
    }
}

@theme "gruvbox-light"
@import "current"
