window {
margin: 0px;
border-radius: 4px;
border: 1px solid #ebdbb2;
background-color: #282828;
}

#input {
margin: 5px;
border: none;
color: #ebdbb2;
background-color: #171717;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282828;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282828;
}

#scroll {
margin: 0px;
border: none;
}

#text {
    font-family: "Iosevka";
margin: 5px;
border: none;
color: #ebdbb2;
} 

#entry.activatable #text {
color: #ebdbb2;
}

#entry > * {
color: #ebdbb2;
}

#entry:selected {
background-color: #282828;
}

#entry:selected #text {
color: #ebdbb2;
font-weight: bold;
}
