width = 480  
height = 300
force_window = false
corner_radius = "0"
font = "Iosevka"
font_size = 28
bg_color = 0x282828ff
bg_border_color = 0x393939ff
bg_border_width = 0
font_color = 0xebdbb2ff

[input_text]
font_color = 0xebdbb2ff
bg_color = 0x282828ff
corner_radius = "0"
margin = "0 0 25 0"
padding = "15 30" 

[list_items]
font_color = 0xebdbb2dd
selected_font_color = 0xebdbb2ff
match_color = 0xebdbb2ff
margin = "5 25 25 25"
item_spacing = 10
font_size = 14
hide_actions = true
icon_spacing = 0
